.pomodoro-progressbar {
  display: flex;
  height: 12px;
  width: 100%;
  margin-right: 15px;
  border: 1px solid;
  box-shadow: 1px 1px 1px gray;
}

.work-progressbar {
  border-right: 1px solid;
  height: 100%;
  background-color: $pomodoro-work-color-light;

  &__progress {
    background-color: $pomodoro-work-color-strong;
    height: 100%;
    width: 0%;
  }
}

.break-progressbar {
  border-right: 1px solid;
  height: 100%;
  background-color: $pomodoro-break-color-light;

  &--last-break {
    border: none;
  }

  &__progress {
    background-color: $pomodoro-break-color-strong;
    height: 100%;
    width: 0%;
  }
}