// Vars \\_______________________________________

// Styles \\_______________________________________
.work-progressbar {
  // background-color: lightblue;
  border-right: 1px solid;
  height: 10px;
}

.break-progressbar {
  border-right: 1px solid;
  // background-color: lightgreen;
  height: 10px;

  &--last-break {
    border: none;
  }
}