.ideas {
  border: 1px solid;
  border-radius: $breakIdeasBorderRadius;
  margin-bottom: 20px;
}

.ideas-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f7f6f6;
  border-top-right-radius: $breakIdeasBorderRadius;
  border-top-left-radius: $breakIdeasBorderRadius;

  > :first-child {
    border-top-left-radius: $breakIdeasBorderRadius;
  }

  > :last-child {
    border-top-right-radius: $breakIdeasBorderRadius;
  }
}

.ideas-navbar-tab {
    display: flex;
    align-items: center;
    border: 1px solid;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;

    &__icon {
      margin-right: 5px;
    }

    &__text {
      user-select: none;
    }

    &--active {
      background-color: white;
      border: none;
    }
}

.ideas-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px 40px 0;
}