<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/dist/adjust-intervals.min.css">
  <title>Document</title>
</head>
<body>
  <h2 class="heading">Passe deine Intervalle an</h2>

  <!-- work-break-progressbar -->
  <div class="pomodoro__progress" data-role="pomodoroProgress"></div>

  <!-- adjustment elements -->
  <section class="control-elements">
    <div class="adjustments">
      <div class="adjustment-box">
        <p class="adjustment-box__description">Arbeitsintervall</p>
        <input class="adjustment-box__input" type="number" value="25" min="1" max="120">
      </div>
      <div class="adjustment-box">
        <p class="adjustment-box__description">Pausenintervall</p>
        <input class="adjustment-box__input" type="number" value="5" min="1" max="120">
      </div>
      <div class="adjustment-box">
        <p class="adjustment-box__description">letzte Pause</p>
        <input class="adjustment-box__input" type="number" value="15" min="1" max="120">
      </div>
    </div>

    <i class="fa-regular fa-floppy-disk fa-2xl save-icon"></i>
  </section>
  <script type="module" src="/src/js/adjust-intervals.js"></script>
</body>
</html>