<div class="ideas">
  <nav class="ideas-navbar">
    <div class="ideas-navbar-tab ideas-navbar-tab--active" data-role="navbarTab" data-value="randomTask">
      <i class="ideas-navbar-tab__icon fa-regular fa-circle-question"></i>
      <p class="ideas-navbar-tab__text">Zufällige Aufgabe</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="sport">
      <i class="ideas-navbar-tab__icon fa-solid fa-dumbbell"></i>
      <p class="ideas-navbar-tab__text">Sport</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="yoga">
      <i class="ideas-navbar-tab__icon fa-solid fa-child-reaching"></i>
      <p class="ideas-navbar-tab__text">Yoga</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="meditation">
      <i class="ideas-navbar-tab__icon fa-solid fa-spa"></i>
      <p class="ideas-navbar-tab__text">Meditation</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="powernapping">
      <i class="ideas-navbar-tab__icon fa-solid fa-bed"></i>
      <p class="ideas-navbar-tab__text">Powernapping</p>
    </div>
  </nav>
  <main class="ideas-main" data-role="breakIdeasMain">
    <i class="fa-solid fa-heart fa-2xl"></i>
  </main>
</div>