<div class="ideas">
  <nav class="ideas-navbar">
    <div class="ideas-navbar-tab ideas-navbar-tab--active" data-role="navbarTab" data-value="randomTask">
      <i class="ideas-navbar-tab__icon fa-regular fa-circle-question"></i>
      <p class="ideas-navbar-tab__text">Zufällige Aufgabe</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="sport">
      <i class="ideas-navbar-tab__icon fa-solid fa-dumbbell"></i>
      <p class="ideas-navbar-tab__text">Sport</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="yoga">
      <i class="ideas-navbar-tab__icon fa-solid fa-child-reaching"></i>
      <p class="ideas-navbar-tab__text">Yoga</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="meditation">
      <i class="ideas-navbar-tab__icon fa-solid fa-spa"></i>
      <p class="ideas-navbar-tab__text">Meditation</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="powernapping">
      <i class="ideas-navbar-tab__icon fa-solid fa-bed"></i>
      <p class="ideas-navbar-tab__text">Powernapping</p>
    </div>
  </nav>
  <main class="ideas-main" data-role="breakIdeasMain">
    <!-- random tasks -->
    <div class="task none" data-role="task">
      <i class="fa-regular fa-image fa-2xl"></i>
      <h1>Schone deine Augen!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-carrot fa-2xl"></i>
      <h1>Iss ein Snack!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-mug-hot fa-2xl"></i>
      <h1>Hol dir etwas zu trinken!</h1>
    </div>

    <!-- YoutTube Playlists -->
    <iframe class="playlist none" data-role="playlist" width="390" height="220" src="https://www.youtube.com/embed/?listType=playlist&list=PLRoiDADf6liew0lPqvEw7AWzC7SN_zCDo&index=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="playlist none" data-role="playlist" width="390" height="220" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLJJfwxBpAPgdHqfCIYDaysxPCX-iZ_bmN&index=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="playlist none" data-role="playlist" width="390" height="220" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLTS0vknaLbG1LT8CQdBM1D8O5Q6vt6gZx&index=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <!-- powernapping -->
    <div class="powernapping none" data-role="powernapping">
      <div class="powernapping-time">
        <i class="fa-solid fa-circle-arrow-left fa-2xl" data-role="powernappingTimeUp"></i>
        <h1 data-role="powernappingTime">20:00</h1>
        <i class="fa-solid fa-circle-arrow-right fa-2xl" data-role="powernappingTimeDown"></i>
      </div>
      <div class="powernapping-controls">
        <i class="powernapping-controls__icon fa-solid fa-play fa-2xl" data-role="powernappingPlay"></i>
        <i class="powernapping-controls__icon fa-solid fa-pause fa-2xl" data-role="powernappingPause"></i>
      </div>
      <audio controls loop src="/ASMR Sleep Edition - Rain Hitting Tent & Thunderstorm 🌩️ (No Talking).mp3"></audio>
    </div>
  </main>
</div>