<div class="ideas">
  <nav class="ideas-navbar">
    <div class="ideas-navbar-tab ideas-navbar-tab--active" data-role="navbarTab" data-value="randomTask">
      <i class="ideas-navbar-tab__icon fa-regular fa-circle-question"></i>
      <p class="ideas-navbar-tab__text">Zufällige Aufgabe</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="sport">
      <i class="ideas-navbar-tab__icon fa-solid fa-dumbbell"></i>
      <p class="ideas-navbar-tab__text">Sport</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="yoga">
      <i class="ideas-navbar-tab__icon fa-solid fa-child-reaching"></i>
      <p class="ideas-navbar-tab__text">Yoga</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="meditation">
      <i class="ideas-navbar-tab__icon fa-solid fa-spa"></i>
      <p class="ideas-navbar-tab__text">Meditation</p>
    </div>
    <div class="ideas-navbar-tab" data-role="navbarTab" data-value="powernapping">
      <i class="ideas-navbar-tab__icon fa-solid fa-bed"></i>
      <p class="ideas-navbar-tab__text">Powernapping</p>
    </div>
  </nav>
  <main class="ideas-main" data-role="breakIdeasMain">
    <!-- random tasks -->
    <div class="task none" data-role="task">
      <i class="fa-regular fa-image"></i>
      <h1>Schone deine Augen!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-carrot"></i>
      <h1>Iss ein Snack!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-mug-hot"></i>
      <h1>Hol dir etwas zu trinken!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-person-walking"></i>
      <h1>Mach einen Spaziergang!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-tree"></i>
      <h1>Gehe an die frische Luft!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-regular fa-image"></i>
      <h1>Schaue dir schöne Fotos an!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-music"></i>
      <h1>Höre entspannte Musik!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-pencil"></i>
      <h1>Zeichne etwas!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-dumbbell"></i>
      <h1>Gehe auf unser Sport-Tab!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-child-reaching"></i>
      <h1>Gehe auf unser Yoga-Tab!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-spa"></i>
      <h1>Gehe auf unser Meditations-Tab!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-bed"></i>
      <h1>Gehe auf unser Powernapping-Tab!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-regular fa-note-sticky"></i>
      <h1>Schreibe ein paar Dankbarkeits-Notizen!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-user-group"></i>
      <h1>Quatsch kurz mit Kollegen oder Freunden!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-masks-theater"></i>
      <h1>Schau dir eine Komödie an!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-pencil"></i>
      <h1>Zeichne das, was dir als erstes durch den Kopf geht!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-brain"></i>
      <h1>Schließe deine Augen und lass deine Gedanken freien lauf!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-regular fa-file-video"></i>
      <h1>Lerne etwas neues - schaue dir ein YT-Video an!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-book-open-reader"></i>
      <h1>Lies ein Buch!</h1>
    </div>
    <div class="task none" data-role="task">
      <i class="fa-solid fa-lungs"></i>
      <h1>Mach eine kurze Atemübung!</h1>
    </div>

    <!-- YoutTube Playlists -->
    <iframe class="playlist none" data-role="playlist" width="390" height="220" src="https://www.youtube.com/embed/?listType=playlist&list=PLRoiDADf6liew0lPqvEw7AWzC7SN_zCDo&index=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="playlist none" data-role="playlist" width="390" height="220" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLJJfwxBpAPgdHqfCIYDaysxPCX-iZ_bmN&index=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="playlist none" data-role="playlist" width="390" height="220" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLTS0vknaLbG1LT8CQdBM1D8O5Q6vt6gZx&index=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <!-- powernapping -->
    <div class="powernapping none" data-role="powernapping">
      <i class="powernapping__icon fa-solid fa-bed"></i>
      <audio controls loop src="/rain-sound.mp3"></audio>
    </div>
  </main>
</div>