<div class="pomodoro">
  <div class="pomodoro-progressbar" data-role="pomodoroProgress"></div>
  <div class="pomodoro__controls">
    <i class="fa-regular fa-circle-play fa-xl" data-role="pomodoroStart"></i>
    <!-- <i class="fa-regular fa-circle-pause fa-xl" data-role="pomodoroPause"></i> -->
    <i class="fa-solid fa-forward-step fa-xl" data-role="pomodoroNextInterval"></i>
    <i class="fa-solid fa-rotate fa-xl" data-role="pomodoroReset"></i>
  </div>
</div>
<section class="bottom">
  <div class="timer">
    <i class="fa-regular fa-clock fa-xl timer__icon"></i>
    <p class="timer__time" data-role="countdown"></p>
  </div>
  <div class="stay-hydrated">
    <i class="fa-solid fa-glass-water-droplet stay-hydrated__icon fa-xl"></i>
    <p class="stay-hydrated__message">Stay hydrated!</p>
  </div>
</section>
