<div class="section">
  <h2 class="section__heading">Wie war dein Tag?</h2>
  <div>
    <button class="section__button">
      <i class="section__icon fa-regular fa-face-laugh-beam" style="color:rgb(10, 192, 10);"></i>
    </button>
    <i class="section__icon fa-regular fa-face-smile-beam" style="color: rgb(160, 187, 7);"></i>
    <i class="section__icon fa-regular fa-face-meh" style="color:rgb(182, 179, 9);"></i>
    <i class="section__icon fa-regular fa-face-frown-open" style="color:rgb(189, 103, 4);"></i>
    <i class="section__icon fa-regular fa-face-frown" style="color:rgb(219, 5, 5);"></i>
  </div>
</div>
<div class="section">
  <h2 class="section__heading">Wie oft hast du dein Zeitmanagement-Tool benutzt?</h2>
  <input class="section__input" type="range" min="0" max="5">
</div>
<div class="section">
  <h2 class="section__heading">Hast du ausreichend Wasser getrunken?</h2>
  <input class="section__input" type="range" min="0" max="5">
</div>
<div class="section">
  <h2 class="section__heading">Wie erholsam hast du deine Pausen verbracht?</h2>
  <input class="section__input" type="range" min="0" max="5">
</div>