<div class="statistic">
  <h1>Wochenstatistik</h1>
  <div>
    <div class="question">
      <p class="question__description">Wie waren deine Tage?</p>
      <input data-role="iconDayStatus" type="range" min="0" max="5" step="0.1" title="Sehr schlecht | Schlecht | Durchschnittlich | Gut | Sehr gut" disabled>
    </div>
    <div class="question">
      <p class="question__description">Wie oft hast du dein Zeitmanagement-Tool benutzt?</p>
      <input data-role="inputTimeToolStatus" type="range" min="0" max="5" step="0.1" title="Gar nicht | Selten | Manchmal | Oft | Sehr oft" disabled>
    </div>
    <div class="question">
      <p class="question__description">Hast du ausreichend Wasser getrunken?</p>
      <input data-role="inputWaterStatus" type="range" min="0" max="5" step="0.1" title="Sehr wenig | Wenig | Durchschnittlich | Viel | Sehr viel" disabled>
    </div>
    <div class="question">
      <p class="question__description">Wie erholsam hast du deine Pause verbracht?</p>
      <input data-role="inputBreakStatus" type="range" min="0" max="5" step="0.1" title="Sehr selten | Selten | Manchmal | Oft | Sehr oft" disabled>
    </div>
  </div>
</div>
