$margin-outside: 30px;
$background-color-secondary: #302e2e;
$margin-under-progressbar: 20px;

$breakIdeasBorderRadius: 10px;

$pomodoro-work-color-light: #ecfaff;
$pomodoro-work-color-strong: #57bddd;
$pomodoro-break-color-light: #f6fff6;
$pomodoro-break-color-strong: #7bb37b;

$activeIcon: rgb(99, 99, 99);