// Imports \\_______________________________________
@import '__variables.scss';
@import 'components/work-break-progressbar.scss';
@import 'components/headings.scss';

// Styles \\_______________________________________
body {
  padding: $body-padding;
  position: relative;
}

.control-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.adjustments {
  display: flex;
  flex-wrap: wrap;
}

.adjustment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  &__description {
    margin: 0px 0px 8px 0px;
  }

  &__input::-webkit-inner-spin-button {
    opacity: 1
  }
}

.storage {
  display: flex;

  i {
    &:hover {
      text-shadow: 1px 1px 2px rgb(100, 98, 98);
    }

    &:active {
      color: rgb(51, 84, 95);
    }

    &:first-child {
      margin-right: 15px;
    }
  }
}